# Data exporter service configuration.

# Database that data is exported to.
exporter.jdbc.driver=com.mysql.jdbc.Driver
exporter.jdbc.url=jdbc:mysql://localhost/reporting
exporter.jdbc.username=gospoken
exporter.jdbc.password=gospoken
exporter.jdbc.timeout.s=10

